html, body, .container-fluid, row, .sidebar {
	height: 100%;
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #F9F3E8;
}
.row {
	margin-left: 0;
	margin-right: 0;
}
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.col-lg-3 {
	height: 100%;
	padding-left: 0;
	padding-right: 0;
	position:fixed;
}
.col-lg-9 .col-lg-offset-3 { 
	height: 100%;
	padding-left: 0;
	padding-right: 0;
}
.sidebar {
	padding: 10px;
	background-color: #657A6B;
	border-right: 5px solid #BDC491;
}
h1 {font-size: 2em; font-family: 'Alegreya Sans SC', sans-serif;}
h2 {font-size: 1.4em;}
p {font-size: 1.2em;}
a {color: #003036; text-decoration: underline;}
a:hover {color: #89A2B3; text-decoration: underline;}
.usergenform {
	padding: 10px;
	border: 1px solid #26170F;
	width: 30%;
}
.fakername {
	font-weight: bold;
}
.fakertag {
	font-style: italic;
}
.faker p {
	color: #003036;
}
.results {
	border: 1px solid #26170F;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 90%;
	padding: 10px;
	background-color: #FFF;
}
.results p {
	margin-bottom: 0;

}
#paragraphs {
	font-style: italic;
	font-size: .85em;
}